* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  background-image: linear-gradient(
    hsl(0, 0%, 100%) 883px,
    hsl(230, 60%, 98%) 883px
  );
}
body {
  width: 375px;
  margin: 0 auto;
  background-image: url(../images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position-y: 850px;
  background-size: 100% 52px;
  font-family: "Open Sana", sans-serif;
  font-size: 1.6rem;
  color: hsl(243, 87%, 12%);
}
h1,
h2,
h3,
h4,
input[type="submit"] {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
form {
  position: relative;
}

header {
  height: 72px;
  padding: 24px;
}
header > img {
  width: 80px;
}
.hdrLinks {
  font-size: 11px;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.hdrLinks > a {
  color: hsl(0, 0%, 0%);
}
.hdrLinks > a:hover {
  border-bottom: 1px solid hsl(0, 0%, 0%);
}
.hdrLinks a + a {
  margin-left: 24px;
}

main {
  margin-top: 74px;
}
.intro {
  padding: 0 30px;
  margin: 0 auto 190px;
  overflow: hidden;
}
.intro__img {
  display: block;
  width: 305px;
  margin: 0 auto 40px;
}
.intro__sctn > h1 {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.intro__sctn > p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.intro__form {
  position: relative;
}
.intro__form input {
  width: 305px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px -5px hsl(0, 0%, 0%, 15%);
}
.intro__form input[type="email"] {
  padding-left: 20px;
  border: 1px solid hsl(238, 22%, 44%);
}
.intro__form input::placeholder {
  font-size: 12px;
  opacity: 0.2;
}
.intro__form p {
  font-size: 10px;
  color: hsl(0, 100%, 63%);
  position: absolute;
  top: 42px;
  left: 10px;
}
.intro__form input[type="submit"] {
  border: none;
  background-color: hsl(224, 93%, 58%);
  font-size: 13px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.cntnt {
  padding: 0 20px;
  margin-bottom: 80px;
}
.cntnt > img {
  display: block;
  width: 100%;
  padding: 0 7px;
  margin: 0 auto 85px;
}
.cntnt__sctn {
  margin: 0 auto 45px;
}
.cntnt__sctn > h2 {
  font-size: 16px;
  margin-bottom: 25px;
}
.cntnt__sctn > p {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(238, 22%, 44%);
}
.cntnt__sctn > a {
  width: 129px;
  padding-bottom: 4px;
  border-bottom: 2px solid hsl(170, 45%, 43%);
  font-size: 12px;
  line-height: 1;
  color: hsl(170, 45%, 43%);
}
.cntnt__sctn > a:hover {
  border-color: hsl(176, 100%, 64%);
  color: hsl(176, 100%, 64%);
}
.cntnt__sctn > a:hover > .cntnt__arrow {
  filter: contrast(1) brightness(2);
}
.cntnt__arrow {
  width: 15px;
  height: 15px;
  vertical-align: sub;
  margin-left: 3px;
}

.cntnt__cmnt {
  width: 279px;
  padding: 24px 24px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 15%);
  background-color: hsl(0, 0%, 100%);
}
.cntnt__cmnt > img {
  margin-bottom: 5px;
}
.cntnt__cmnt > p {
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 1.6;
}
.cntnt__user > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}
.cntnt__user > h4 {
  font-size: 9px;
  line-height: 1.6;
}
.cntnt__user > p {
  font-size: 7px;
}

.access {
  padding: 55px 41px 70px;
  background-color: hsl(238, 22%, 44%);
  color: hsl(0, 0%, 100%);
}
.access__sctn {
  margin: 0 auto 22px;
}
.access__sctn > h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.access__sctn > p {
  font-size: 15px;
  line-height: 1.5;
}
.access__form {
  position: relative;
}
.access__form > input {
  width: 240px;
  height: 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 10px hsl(0, 0%, 0%, 15%);
}
.access__form > input::placeholder {
  padding-left: 10px;
  font-size: 10px;
  opacity: 0.2;
}
.access__form > p {
  font-size: 8px;
  line-height: 1;
  position: absolute;
  top: 33px;
  left: 38px;
}
.access__form > input[type="submit"] {
  background-color: hsl(224, 93%, 58%);
  font-size: 10px;
  color: hsl(0, 0%, 100%);
}

.emailValidateMsg {
  visibility: hidden;
}
.intro__form > input[type="email"]:invalid + .emailValidateMsg {
  visibility: visible;
}
.access__form > input[type="email"]:invalid + .emailValidateMsg {
  visibility: visible;
}
input[type="email"]:invalid {
  border: 1px solid hsl(0, 100%, 63%);
}
.intro__form > input[type="submit"]:hover,
.access__form > input[type="submit"]:hover {
  background-color: hsl(224, 93%, 68%);
  cursor: pointer;
}

footer {
  padding: 65px 39px 55px;
  background-color: hsl(243, 87%, 12%);
  color: hsl(0, 0%, 100%);
}
footer > img {
  display: block;
  width: 176px;
  margin-bottom: 45px;
  filter: contrast(0) brightness(2);
}
.contact img {
  width: 18px;
  margin-right: 19px;
  position: relative;
  top: 2px;
}
.contact > p + p {
  margin-top: 20px;
}

.links a {
  display: block;
  height: 36px;
  color: hsl(0, 0%, 100%);
}
.links a:hover {
  color: hsl(224, 93%, 68%);
}

.socials {
  width: 10.4rem;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.fa {
  width: 2.7rem;
  height: 2.7rem;
  padding-top: 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
}
.fa + .fa {
  margin-left: 0.7rem;
}
.fa:hover {
  border-color: hsl(224, 93%, 68%);
  color: hsl(224, 93%, 68%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
